 body {

      font-family: 'Tajawal', Arial, sans-serif;

      max-width: 800px;

      margin: 0 auto;

      padding: 20px;

      background: #f0f4f8;

    }



    h1, h2 ,h3 {

      font-family: 'Cairo', sans-serif;

      font-weight: 600;

    }

    

    .card {

      background: white;

      border-radius: 12px;

      padding: 20px;

      margin: 15px 0;

      box-shadow: 0 4px 6px rgba(0,0,0,0.1);

      align-items: center;

      text-align: center;

    }

    

    .button {

      transition: all 0.3s ease;

      box-shadow: 0 2px 4px rgba(0,0,0,0.1);

      border: none;

      color: white;

      padding: 10px 20px;

      border-radius: 5px;

      font-size: 16px;

      cursor: pointer;

    }



	.button-disabled {

	  opacity: 0.6;

	  cursor: not-allowed;

	  filter: grayscale(100%);

	  pointer-events: none;

	}



     .progress-container {

      width: 100%;

      background-color: #ecf0f1;

      border-radius: 5px;

      margin: 15px 0;

    }

    

    .progress-bar {

      height: 25px;

      background: linear-gradient(90deg, #2ecc71, #3498db);

      transition: width 0.5s ease;

      position: relative;

    }

    

    .progress-bar::after {

      content: attr(data-progress);

      position: absolute;

      right: 10px;

      color: white;

      font-weight: bold;

    }



    .state-active { color: #2ecc71; font-weight: bold; }

    .state-inactive { color: #e74c3c; }

    

    @media (max-width: 600px) {

      table { font-size: 14px; }

      .button { padding: 8px 16px; }

      .card { padding: 10px; }

    }

	

	    .collapse-btn {

      width: 100%;

      padding: 12px;

      background: #3498db;

      color: white;

      border: none;

      cursor: pointer;

      font-size: 14px;

      text-align: right;

    }



    .collapse-btn_1 {

      width: 100%;

      padding: 12px;

      background: #3498db;

      color: white;

      border: none;

      cursor: pointer;

      font-size: 14px;

      text-align: right;

    }



    .collapse-btn_2 {

      width: 100%;

      padding: 12px;

      background: #3498db;

      color: white;

      border: none;

      cursor: pointer;

      font-size: 14px;

      text-align: right;

    }

  

    .collapsible-content {

      max-height: 0;

      overflow: hidden;

      transition: max-height 0.3s ease-out;

      background-color: #f8f9fa;

    }



   .collapsible-content.active {

     max-height: 500px; /* أو أي قيمة تناسب محتواك */

    }



  .collapse-btn {

    display: flex;

    align-items: center;

    gap: 8px;

   }



/* arabic لتشغيل الفونت الجديد */

@font-face {

  font-family: 'Tajawal';

  font-style: normal;

  font-weight: 400;

  src: url('/fonts/Tajawal-Regular.woff2') format('woff2');

  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;

}



/* latin */

@font-face {

  font-family: 'Tajawal';

  font-style: normal;

  font-weight: 400;

  src: url('/fonts/Tajawal-Regular.woff2') format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

}

  

  @font-face {

    font-family: 'Cairo';

    src: url('/fonts/Cairo-SemiBold.woff2') format('woff2');

  } 



.button {

  position: relative; /* تأكد من أن الأزرار في المقدمة */

  z-index: 1;

  pointer-events: auto !important;

}



.preset-buttons {

  display: flex;

  flex-wrap: wrap;

  gap: 5px;

  padding: 10px;

}



    .save-notification {

      position: fixed;

      top: 20px;

      right: 20px;

      background: #2ecc71;

      color: white;

      padding: 10px 15px;

      border-radius: 5px;

      box-shadow: 0 2px 5px rgba(0,0,0,0.2);

      display: none;

      z-index: 1000;

    }



      .time-remaining {

    background-color: #f8f9fa; /* لون الخلفية */

    border-radius: 8px; /* زوايا مدورة */

    padding: 12px 20px; /* مساحة داخلية */

    margin: 15px 0; /* هامش خارجي */

    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* ظل خفيف */

    font-family: 'Tajawal', sans-serif; /* نوع الخط */

    font-size: 18px; /* حجم الخط العام */

    color: #2c3e50; /* لون النص */

    display: inline-block; /* عرض مناسب للمحتوى */

    border: 1px solid #e0e0e0; /* حد خفيف */

  }



  .time-remaining #remainingTime {

    font-size: 24px; /* حجم الخط للرقم */

    font-weight: bold; /* نص غامق */

    color: #2ecc71; /* لون مميز للرقم */

    margin: 0 5px; /* مسافة بين الرقم والنص */

  }



    .time-elapsed {

    background-color: #f8f9fa; /* لون الخلفية */

    border-radius: 8px; /* زوايا مدورة */

    padding: 12px 20px; /* مساحة داخلية */

    margin: 15px 0; /* هامش خارجي */

    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* ظل خفيف */

    font-family: 'Tajawal', sans-serif; /* نوع الخط */

    font-size: 18px; /* حجم الخط العام */

    color: #2c3e50; /* لون النص */

    display: inline-block; /* عرض مناسب للمحتوى */

    border: 1px solid #e0e0e0; /* حد خفيف */

  }



  .time-elapsed #elapsedTime {

    font-size: 24px; /* حجم الخط للرقم */

    font-weight: bold; /* نص غامق */

    color: #2ecc71; /* لون مميز للرقم */

    margin: 0 5px; /* مسافة بين الرقم والنص */

  }



    .timer {

      display: inline-block;

      min-width: 60px;

      color: #e74c3c;

      font-weight: bold;

      margin-right: 10px;

    }

    

    input[type="number"] {  /*  لمنع التحديث البصري المفاجئ */

      width: 40px;

      padding: 5px;

      text-align: center;

      border: 1px solid #ddd;

      border-radius: 4px;

      transition: background-color 0.3s;

    }

	

	    input[type="number"]:focus {

      background-color: #ffffcc; /* إشارة بصرية أن الحقل قيد التحرير -- تلوين الخلفية عند التحرير*/

      outline: none;

    }

    

    .duration-control {

      display: flex;

      align-items: center;

      gap: 5px;

    }

  

  .cache-btn {

  background: #e74c3c;

  color: white;

  border: none;

  padding: 10px 20px;

  border-radius: 5px;

  cursor: pointer;

  margin: 10px;

}

.cache-btn:hover {

  background: #c0392b;

}



/*  خاص بزر تفحص الملفات  */

.button-info {

  background: linear-gradient(145deg, #3498db, #2980b9);

  margin: 10px 0;

}



.button-info:hover {

  background: linear-gradient(145deg, #2980b9, #3498db);

}



/* ألوان وإيقونات محددة */

.button-on {

  background: linear-gradient(145deg, #2ecc71, #27ae60);

  color: white;

}



.button-off {

  background: linear-gradient(145deg, #e74c3c, #c0392b);

  color: white;

}



.button-pause {

  background: linear-gradient(145deg, #f1c40f, #f39c12);

  color: white;

}



/* تأثيرات عند التمرير */

.button:not(.button-disabled):hover {

  transform: translateY(-2px);

  box-shadow: 0 4px 12px rgba(0,0,0,0.2);

}



/* حالة النشاط */

.button:active {

  transform: translateY(1px);

}



	.manual-outputs, .toggle-outputs {  //     جعل الجداول قابلة للتمرير أفقيًا على الشاشات الصغيرة

      overflow-x: auto;

      width: 100%;

    }